<h2>My Groceries List</h2>
<!-- HOW TO USE FOR LOOPS, OR SHOW LIST OF ITEMS IN GENERAL -->
<div class="blue">
    <ul>
    <% for (let i = 0; i < grocery_list.length; i++){ %>
        <li><%= grocery_list[i] %></li>
    <% } %>
    </ul>
</div>